* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #222;
    color: white;
    font-family: sans-serif;
}

h1 {
    padding: 1rem;
}

.flex-container {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.gap {
    gap: 1rem;
}

.card {
    width: calc((100% - 2rem) / 3);
    background-color: #333;
    padding: 1rem;
}

.card .image {
    width: 100%;
}

.card p {
    padding: 0.5rem;
}

.movieList {
    margin: 0.5rem 0;
    list-style: none;
}
 .movieList li {
    padding: 0.5rem 0;

 }

